<section class="popular-posts widget">
  <h3>Our <mark>Top Posts</mark> Right Now</h3>
  <ol>

      <li><a href="http://blog.sudoask.com/a-good-one-introduce-to-bash-unix/"><span class="number" aria-hidden="true">1</span>A good one introduce to bash - Unix</a></li>

      <li><a href="http://blog.sudoask.com/shame-is-an-industry/"><span class="number" aria-hidden="true">2</span>Shame is an industry, the more shame the more click</a></li>
      <li><a href="http://blog.sudoask.com/use-keyboard-shortcuts-to-master-browser/"><span class="number" aria-hidden="true">3</span>Use keyboard shortcuts to master Firefox browser.</a></li>
      <li><a href="http://blog.sudoask.com/find-ways-to-fail-fast/"><span class="number" aria-hidden="true">4</span>Find ways to fail fast - Design Producing Creativity</a></li>
      <li><a href="http://blog.sudoask.com/how-qisqus-made-realtime-comment/"><span class="number" aria-hidden="true">5</span>How disqus made realtime comment.</a></li>

  </ol>
</section>
